*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.6);
    background-attachment: fixed; */
    position: absolute;
    /* position: fixed; */
    z-index: 99999;
}
.navbar .nav .nav-item .nav-link{
    color: whitesmoke ;
    font-size: 16px;
    font-weight: 500;
    /* background-color: yellow; */
    font-family: 'Roboto Slab';
    transition: 0.5s;
}
.navbar .nav .nav-item .nav-link:hover{
    color:#A93226;
}