*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    background-color:white;
    /* position: absolute; */
    z-index: 99999;
}
.navbar .nav .nav-item .nav-link{
    color:#A93226 ;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Slab';
    transition: 0.5s;
}
.navbar .nav .nav-item .nav-link:hover{
    color:#F4D03F;
}
.carousel .carousel-inner .carousel-item .carousel-caption{
    width: 500px;
    left: 15%;
    top: 40%;
    text-align: left;
}
.contact{
    width: 100%;
    height:auto;
    background-color:white;
    margin: 50px 0;
}
.contact-1{
    padding: 50px;
    width: 80%;
    margin: auto;
    /* background-color:#838383; */
    border: 2px solid gray;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;
}
.contact-1 .image-dahab>img{
    margin:0 25px ;
    border-radius: 30px;
    opacity:0.8; 
    cursor: pointer;
    text-shadow: tomato ;
}
.contact-1 div >span{
    color: black;
    display: block;
}
.contact .contact-1 .dahab{
    margin:30px 50px;
    font-family:'Raleway', sans-serif;
    font-size: 17px;
}
.contact .contact-1 .dahab> ul>span{
    color:#A93226 ;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto Slab';
    cursor: pointer;
    transition: 0.5s;
}
.contact .contact-1 .dahab> ul>span:hover{
    color:#F4D03F;
}


/*******form**/

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
label{
    color:#A93226 ;
    font-size: 18px;
    font-family:'Roboto Slab' ;
} 
 
  input[type=submit] {
    background-color: #A93226;
    color: white;
    font-size: 18px;
    font-family:'Roboto Slab' ;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
  }

  input[type=submit]:hover {
    background-color: #F4D03F;
    color: black;
  }
  .container1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }












































.log-footer{
    /* margin: 50px 0; */
    padding: 50px 50px;
    width: 100%;
    height: 500px;
    background-color:rgb(51, 51, 51);
    display:flex;
}
.log-footer .left-footer span{
    padding: 0 100px;
    margin: 20px 0;
    display:block;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.log-footer .left-footer span:hover{
    color: #A93226;
}

.log-footer .left-footer span i{
    margin: 0 10px;
}
.log-footer .left-footer .face{
    text-align: left;
    margin-left:-8px;
    color:#A93226 ;
    /* background-color: crimson; */
}
.log-footer .left-footer .face i:hover{
    background-color:#A93226;
    color:white;
}
.log-footer .left-footer .face i{
    width: 40px;
    height: 40px;
    border: #A93226 1px solid;
    border-radius: 50%;
    padding-top: 12px;
    padding-left: 12px ;
    transition: 0.5s;
    background-color: white;
    /* font-size: 15px; */
}
.log-footer .right-footer{
    padding-top: 40px;
    margin-left: 200px;
}
.log-footer .right-footer label{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    font-family:'Roboto Slab' ;
    color:#A93226 ;
    text-transform: capitalize;
    display: block;
}
.log-footer .right-footer input{
    outline: none;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding: 10px;
}
.log-footer .right-footer button{
    width: 200px;
    margin: 30px 0;
    height: 40px;
    display: block;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    color:white ;
    background-color:#A93226 ;
    transition: 0.5s;
}
.log-footer .right-footer button:hover{
    background-color: #F4D03F;
    color:black;
}
.footer-footer{
    background-color: #212121;
    color: #fff;
}
.footer-list{
    text-align: right;
}

.special{
    color: #999;
}

.footer-list li{
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}
.footer-list li:hover{
    color:#A93226 ;
}
.footer-footer-content{
    padding: 30px 0;
}
.footer-container-1 i{
    color: #A93226 ;

}